
  .initials {
    position: relative;
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
    border-radius: 50px;
  }

  .nav{

    background: linear-gradient(145deg, #617684, #52636f);
    
  }
 